<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
 
    <servlet>
        <servlet-name>mainServlet</servlet-name>
        <servlet-class>com.sourceit.web.MainServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>mainServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>adminServlet</servlet-name>
        <servlet-class>com.sourceit.web.AdminServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>adminServlet</servlet-name>
        <url-pattern>/admin/</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>notesServlet</servlet-name>
        <servlet-class>com.sourceit.web.notes.NotesServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>notesServlet</servlet-name>
        <url-pattern>/notes</url-pattern>
    </servlet-mapping>
  
    <servlet>
        <servlet-name>dbNotesServlet</servlet-name>
        <servlet-class>com.sourceit.web.notes.DBNotesServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>dbNotesServlet</servlet-name>
        <url-pattern>/dbnotes</url-pattern>
    </servlet-mapping>
 
</web-app>